body,html{
  margin:0;
  padding:0;
  overflow:hidden;
  background: linear-gradient(to top, #774241,#523950,#14254C,#071129, #09132D);
   height:100vh;
}
.sky{
  position: relative;
  width :100%;
  height:100%;
}
#fireflies {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3; /* 星や芝生より上に */
  pointer-events: none; /* クリックを通す */
}
#floatingText {
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 150%;
  z-index: 4;
  pointer-events: none;
}

#ground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  z-index: 1;
}
#stars{
  position:absolute;
  top :0;
  left:0;
  width:100%;
  height:100%;
  filter: brightness(100) saturate(100%);
}
.couple{
  position:absolute;
  bottom: 40px;
  left:50%;
  transform: translateX(-50%);
  z-index: 2;
}
.couple img{
  width:120%;
  height:auto;
  opacity:0.9;
  filter: brightness(1) saturate(5%);
}

#bgm {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-70%, -50%);
  z-index: 20;
  width: 400px;
  height: 70px;
  border-radius: 20px;
  opacity: 0.4; /* ← 透明度を追加（0.0〜1.0） */
}


#lyrics {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: 'Single Day', cursive;
  font-size: 20px;
  color: rgba(255, 255, 150);

  line-height: 1.4;
  pointer-events: none;
  white-space: pre-line;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1000; /* ← 最前面に表示するために追加！ */
}


#lyrics .line {
  margin: 0;
  padding: 0;
}

#lyrics .kr {
  font-size: 30px;
  opacity: 1;
}